.add-to-collection form .submit-button {
    margin-left: 145px;
}

/* Pié de página */
div.footer-item {
  clear: right;
  margin-bottom: 5px;
  margin-right:36px;
}
a.ds {
  padding: 5px 0 5px 20px;
}
a.tc {
  padding: 5px 0 5px 40px;
}
a:hover#ubuntu-footer, a#ubuntu-footer {
  background: url('../images/ubuntu-logo.png') no-repeat scroll left center transparent;
}
a:hover#suyccom-footer, a#suyccom-footer {
  background: url('../images/suyccom-logo.png') no-repeat scroll left center transparent;
}
a:hover#gandi-footer, a#gandi-footer {
  background: url('../images/gandi-logo.png') no-repeat scroll left center transparent;
}


/* Histórico de cada bicicleta */
.historico-bicicleta li a{
  border:none;
  margin:0;
  background-color:none;
}


.page-header h2{
  font-size:32px;
  padding:5px 25px;
  color:green;
}
.presentacion-bloque{
  width:45%;
  font-size:16px;
  float:left;
  padding-right:2%;
}
.presentacion-bloque h3{
  color:green;
  font-size:20px;
  padding-top:10px;
}
.presentacion-bloque p{
  padding:5px 0px 0px 25px;
  color: black;
}
.card.user{
  width:400px;
  height:112px;
  float:left;
  margin-right:25px;
}
.heading{
color:#fff;
}
.show-page.user .collection-section{
  clear:both;
}
.show-page.user .field-list{
  padding:15px;
  width:auto;
  background-color:#F5F5F5;
}
.show-page.user .new .field-list{
  width:100%;
}
.card.peticion .heading{
  color:black;
}
.transitions{
  float:right;
}
.notita,.flash.notice{
  background-color:#D9F471;
  padding:30px;
  font-size:16px;
  color:black;
}
.notita{
  width:500px;
}


.boton-principal{
  border: 0 none;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  margin:0 auto;
  font-weight:bold;
  text-align:center;
  
  width:50%;
  display:block;
}

.boton-principal:hover{
  border:0;
  color:white;
  background-color:green;
}


img[id *= "_innerImage"]:hover { cursor:pointer; }
