.pull-left{
  float:left;
}  
.add-to-collection form .submit-button {
    margin-left: 145px;
}
/* Pié de página */
div.footer-item {
  clear: right;
  margin-bottom: 5px;
  margin-right:36px;
}
a.ds {
  padding: 5px 0 5px 20px;
}
a.tc {
  padding: 5px 0 5px 40px;
}
a:hover#ubuntu-footer, a#ubuntu-footer {
  background: url('../images/ubuntu-logo.png') no-repeat scroll left center transparent;
}
a:hover#suyccom-footer, a#suyccom-footer {
  background: url('../images/suyccom-logo.png') no-repeat scroll left center transparent;
}
a:hover#gandi-footer, a#gandi-footer {
  background: url('../images/gandi-logo.png') no-repeat scroll left center transparent;
}
/* Histórico de cada bicicleta */
.historico-bicicleta-box{clear:both; padding:10px 0;}
.historico-bicicleta-box img{border-radius:5px; background-color: transparent;}
.historico-bicicleta-text{margin-left:110px;}
.card.user{
  width:400px;
  height:112px;
  float:left;
  margin-right:25px;
  border-radius: 4px;
  border: 1px solid black;
}
.heading{color:#fff;}
.show-page.user .collection-section{clear:both;}
.show-page.user .field-list{
  padding:15px;
  width:auto;
  background-color:#F5F5F5;
}
.show-page.user .new .field-list{width:100%;}
.card.peticion .heading{color:black;}
.transitions{float:right;}
.notita,.flash.notice{
  background-color:#D9F471;
  padding:30px;
  font-size:16px;
  color:black;
}
.notita{width:500px;}
img[id *= "_innerImage"]:hover { cursor:pointer; }
.boton-principal {
  border: 1px solid #CDE5F3;
  background-color: #ddeef6;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px #fff, inset 0 -15px #A7DAFA, 0 0 3px #CDE5F3;
  -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #A7DAFA, 0 0 3px #CDE5F3;
  -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #A7DAFA, 0 0 3px #CDE5F3;
  -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #A7DAFA, 0 0 3px #CDE5F3;
  color: #0074BD;
  text-shadow: 0 1px #fff;
  padding: 0.7em 1em;
  margin-top: 1.2em;
  font-size: 2em;
  margin:0 auto;
  margin-top: 1.5em;
  font-weight:bold;
  text-align:center;
  width:50%;
  display:block;
}
.boton-principal:hover {
  box-shadow: inset 0 1px 3px #fff, inset 0 -15px #CDE5F3, 0 0 8px #A7DAFA;
  -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #CDE5F3, 0 0 8px #A7DAFA;
  -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #CDE5F3, 0 0 8px #A7DAFA;
  -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #CDE5F3, 0 0 8px #A7DAFA;
  color: #4BBAFF;
}
h2.heading {
  font-size: 2.5em;
  background-color: #525245;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid white;
}
p#disponible {
  font-weight: bold;
}
